<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyScraper.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <MyScraper.My.MySettings>
            <setting name="AutoImportValue" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AutoImportEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DropBoxPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DropBoxUrl" serializeAs="String">
                <value>https://dl.dropboxusercontent.com/u/53776373/TmartScraperOutput.csv</value>
            </setting>
            <setting name="PriceChangeByPercentage" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PriceChangingType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriceChangeByValue" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PriceType" serializeAs="String">
                <value>US</value>
            </setting>
            <setting name="LastNodeScrapedFullPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ShippingCost" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShippingCostIsSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnablePriceRange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinPrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxPrice" serializeAs="String">
                <value>1000</value>
            </setting>
        </MyScraper.My.MySettings>
    </userSettings>
</configuration>
